body {
    background-color: aqua;
}

.slider {
    width: 300px;
    margin: auto;
    margin-top: 5rem;
    position: relative;
    

    .slides {
        display: flex;
        justify-content: center;

        img {
            max-height: 500px;
        }

        img:not(.active){
            display: none;
        }
    }
    

    .controls {
        position: absolute;
        top: 5px;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 97%;
        
        button{
            width: 30px;
            border: none;
            background-color: ransparent;
            border-radius: 40px;
            display: flex;
            align-items: center;
        }
    }
}